


/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* COMMON */
/* main{
    margin-top: 40px;
    width: 100%;
    height: 1em;
} */

.flex{
    display: flex;
    flex-wrap: wrap;
}


/* MAIN */
/* Header */
.head-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #FF6900;
    width: 100%;
    height: 2.5rem;
    display: flex;
    
    
}

.genre{
    display: flex;
    flex-direction: row;
    width: calc(100% / 3);

}

.list{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 0 30px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.genre a{
    color: #FFFCFA;
    text-decoration: none;
}

.logo{
    display: flex;
    flex-direction: row;
    width: calc(100% / 3);
    justify-content: center;
    padding: 5px 0;

}

.user-space{
    display: flex;
    flex-direction: row;
    width: calc(100% / 3);
    justify-content: flex-end;

}

.list i{
    color: #FFFCFA;

}
/* /Header */

/* main */
.main-container{
    
    display: flex;
    width: 80%;
    margin: 50px auto;
    max-width: 1100px;
    
    
    
    
}

.col{
    width: calc(100% / 3);
    padding: 20px;
}

.card{
    position: relative;
}

.top-photo{
    display: block;
    
    
    
}

.top-photo-b{
    display: none;

    
    
    
    
}




.changeimage:hover .top-photo{
    display: none;
}

.changeimage:hover .top-photo-b{
    display: block;

}

.top-photo:hover{
    z-index: -1;
}

.favorite{
    
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #FFFCFA;
    margin-top: 5px;
    
}

.discount{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px 5px;
    background-color: #FF0000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFCFA;
    padding: 3px 6px;
}

.sostenibility{
    position: absolute;
    bottom: 0;
    left: 2.5rem;
    margin: 10px 5px;
    font-size: 10px;
    padding: 3px 6px;
    color: #FFFCFA;
    background-color: #008000;
    font-family: Arial, Helvetica, sans-serif;

}

.description{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;

}

.price{
    color: #FF0000;
    font-size: 13px;
    font-weight: 600;
}

.price span{
    text-decoration: line-through;
    color: #768088;
    font-weight: 400;
}

.brand{
    font-size: 12px;
}



.favorite:hover{
    color: #FF0000;
}

.sostenibility-only{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px 5px;
    font-size: 10px;
    padding: 3px 6px;
    color: #FFFCFA;
    background-color: #008000;
    font-family: Arial, Helvetica, sans-serif;

}
/* /main */

/* footer */
.footer-container{
    display: flex;
    width: 100%;
    padding: 20px 40px;
    
    background-color: #1A1A1A;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
}

/* .footer{
    
    width: 100%;
    
    background-color: #1A1A1A;
} */

.left-part{
    /* padding: 0 50px; */
    color: #FFFCFA;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% / 2);

    
}

#company{
    font-size: 18px;
    font-weight: 600;
}

.informations{
    display: flex;
    list-style: none;
    
    
}

.informations a{
    color: #FFFCFA;
    text-decoration: none;
    padding-right: 10px;
}

.right-part{
    /* padding: 0 50px; */
    color: #FFFCFA;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% / 2);

    
}

.socials{
    display: flex;
    list-style: none;
    
    
}

.socials a{
    color: #FFFCFA;
    text-decoration: none;
    padding-right: 10px;
}

.socials i{
    margin-right: 10px;
    font-size: 18px;
}
/* /footer */
