


/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

/* .head-container{
    position: absolute;
    z-index: 0;
} */

.container{
    background-color: #FF6900;
    width: 100%;
    height: 2.5rem;
    display: flex;
    
    
}

.genre{
    display: flex;
    flex-direction: row;
    width: calc(100% / 3);

}

.list{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 0 30px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.genre a{
    color: #FFFCFA;
    text-decoration: none;
}

.logo{
    display: flex;
    flex-direction: row;
    width: calc(100% / 3);
    justify-content: center;padding: 5px 0;

}

.user-space{
    display: flex;
    flex-direction: row;
    width: calc(100% / 3);
    justify-content: flex-end;

}

.list i{
    color: #FFFCFA;

}

.main-container{
    width: 80%;
    margin: 0 auto;
    
    max-width: 1100px;
    
    height: 1rem;
}

.col{
    width: calc(100% / 3);
    padding: 20px;
}

.card{
    position: relative;
}

.top-photo{
    display: block;
    
    
    
}

.top-photo-b{
    display: none;

    
    
    
    
}




#changeimage:hover .top-photo{
    display: none;
}

#changeimage:hover .top-photo-b{
    display: block;

}

.top-photo:hover{
    z-index: -1;
}

.favorite{
    
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #FFFCFA;
    margin-top: 5px;
    
}

.discount{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px 5px;
    background-color: #FF0000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFCFA;
    padding: 3px 6px;
}

.sostenibility{
    position: absolute;
    bottom: 0;
    left: 2.5rem;
    margin: 10px 5px;
    font-size: 10px;
    padding: 3px 6px;
    color: #FFFCFA;
    background-color: #008000;
    font-family: Arial, Helvetica, sans-serif;

}

.description{
    font-family: Arial, Helvetica, sans-serif;

}

.price{
    color: #FF0000;
    font-size: 13px;
    font-weight: 600;
}

.price span{
    text-decoration: line-through;
    color: #768088;
    font-weight: 400;
}

.brand{
    font-size: 12px;
}



.favorite:hover{
    color: #FF0000;
}